@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: "Rubik", sans-serif;
}

.card{
    height: 279px;
    width: 846px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
}
.wrench{
    width: 262px;
    height: 219px;
}
.wrench img{
    width: 140px;
    height: 172.51px;
    transform: rotate(-33deg);
    margin-left: 40px;
}
.identifier, .stars{
    display: flex;
    align-items: center;
}
.identifier{
    justify-content:space-between;
}
.one{
    margin-left: 15px;
    font-style: italic;
    
}
h1{
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 15px;
}
.stars{
    margin-bottom: 30px;
}
h3, .one{
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}
.nine{
    font-weight: 500;
    font-size: 18px;
    color: #808080;
    text-decoration: line-through;
}
.six, .sixlaman{
    float: right;
    color: #941B0C;
    font-size: 43px;
    font-weight: 500;

}

footer{
    background-color:#F2F2F2;
    height:60px;
    width: 846px;
    position: absolute;
    margin-top:-60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
 
}
.footlaman{
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    margin-left: -30px;
}
.footlaman img{
    margin: 0 15px; 
    
    
}
